:root {
    --text-light: white;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
    background-color: lightblue;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    
    /* max-height: 80vh; */
}
.categories__item:has(:hover) {
    transition: 1s;
    box-shadow: 0 0 8px 2px var(--text-light);
    transform: scale(1.05);
       /*transform: translate(50%, 0); */
}
.categories__item:hover .categories__item:not(:hover){
    filter: blur(5px);
}
.categories__item-image {

    filter: brightness(0.9) saturate(1) contrast(1);
    border-radius: 10px;


}
.categories__item-description, .categories__item-description2 {
    position: absolute;
    padding: 1em;
    color: var(--text-light);
    bottom: 0;    
}

.categories__item:hover .categories__item-description{
    transform: translate(150%, -250%);
    transition: 1s;
    
}

.categories__item:hover .categories__item-description2{
    transform: translate(28%, -250%);
    transition: 1s;
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}